<div ng-init="init()">
	<div style="height:1px; background-color: rgba(0, 0, 0, 0)"></div>
	<div sticky id="headerMain" style="width: 100%; padding: 5px;" > 
			
			
					<div class='row'>
						<div class="small-12 columns" style='font-size: .9em'>
							<div class="small-2 pull-left"><centered><a  ui-sref="home">{{languageObj.link1}}</a></centered></div>
							<div class="small-2 pull-left"><centered><a  ui-sref="about">{{languageObj.link2}}</a></centered></div>
							<div class="small-2 pull-left"><centered><a  ui-sref="service">{{languageObj.link3}}</a></centered></div>
							<div class="small-2 pull-left"><centered><a  ui-sref="apply">{{languageObj.link4}}</a></centered></div>
							<div class="small-2 pull-left"><centered><a  ui-sref="events">{{languageObj.link5}}</a></centered></div>
							<div class="small-2 pull-left"><centered><a  ng-click='openLogin()'>{{languageObj.link6}}</a></centered></div>							
						</div>
					</div>			
			

	</div>
</div>
