<div>
	<div class="container" >
		<br>
		<button class="small-12 success columns" ng-click="offcanvasToggle('home')">
			<i class="fa fa-home fa-2x"></i>
			<br>
			<small>Home</small>	
		</button>

		<button class="small-12 info columns" ng-click="offcanvasToggle('page2')">
			<i class="fa fa-bookmark-o fa-2x"></i>
			<br>
			<small>Club Info</small>	
		</button>		
		
		<br>
		
		<button class="small-12 success columns" ng-click="offcanvasToggle('page3')">
			<i class="fa fa-bookmark-o fa-2x"></i>
			<br>
			<small>Services</small>	
		</button>				
		
		<br>
		
		<button class="small-12 info columns" ng-click="offcanvasToggle('page4')">
			<i class="fa fa-bookmark-o fa-2x"></i>
			<br>
			<small>Apply</small>	
		</button>	
		
		<br>
		
		<button class="small-12 success columns" ng-click="offcanvasToggle('page5')">
			<i class="fa fa-bookmark-o fa-2x"></i>
			<br>
			<small>Events</small>	
		</button>	
		
		
		<br>		

		
		<button class="small-12 alert columns" ng-click="offcanvasToggle('page2')">
			<i class="fa fa-caret-square-o-left fa-2x"></i>
			<br>
			<small>Close</small>	
		</button>		
		
			

	</div>	
</div>
				
