	<style>
	.roundedTabs {
	  -webkit-border-top-left-radius: 15px;
	  -moz-border-radius-topleft: 15px;
	  border-top-left-radius: 15px;
	
		z-index: 100000; 
		font-size: 10px; 
		position: fixed; 
		right: 0px; 
		bottom: 0px; 
		height: 28px; 
		background-color: rgba(0, 0, 0, .2); 
		padding: 0px 5px;	  
		opacity: .5;
	  
		transition: .5s;
	 } 	
	 
	 .roundedTabs:hover{
	 	background-color: rgba(0, 0, 0, .9); 
	 	opacity: 1;
	 	transition: .5s;
	 }	
	</style>
	
	<div class='roundedTabs'>
		<i class="fa fa-globe"></i> &nbsp; <a ng-click='changeLanguage("english")'>English</a> / <a ng-click='changeLanguage("chinese")'>Chinese</a>
	</div>
