pre,
code  {font-family: consolas, courier, monospace;
       font-size: 1em;
       line-height: 1.2em;
       white-space: pre; 
       background-color: white; 
       color: gray; /* likewise the background-color comment */
       border: 1px solid #008cba;
       -moz-border-radius: .2em;
       -webkit-border-radius: .2em;
       border-radius: .2em; /* just in case */
       padding: 1em;
       width: 100%;        
       margin-top: 1em;
       margin-bottom: 1em;
}

table{
	font-family: 'Roboto Slab', serif !important;

  background: white;
  margin-bottom: 1.25rem;
  border: solid 1px #dddddd; }
  table thead,
  table tfoot {
    background: whitesmoke; }
    table thead tr th,
    table thead tr td,
    table tfoot tr th,
    table tfoot tr td {
      padding: 0.5rem 0.625rem 0.625rem;
      font-size: 0.875rem;
      font-weight: bold;
      color: #222222;
      text-align: left; }
  table tr th,
  table tr td {
    padding: 0.5625rem 0.625rem;
    font-size: 0.875rem;
    color: #222222; }
  table tr.even, table tr.alt, table tr:nth-of-type(even) {}
  table thead tr th,
  table tfoot tr th,
  table tbody tr td,
  table tr td,
  table tfoot tr td {
    display: table-cell;
    line-height: 1.125rem; }


pre:hover{
	color: black; 
}


select, input{
	color: black; 
}

input.ng-invalid {
	color: red;
	border: 1px red solid;
}


/* DEFAULT FONT */
h1, h2, h3, h4, h5{
	font-family: 'Slabo 27px', serif !important;
	color: inherit;  
}

p, a {
	font-family: 'Roboto Slab', serif !important;
	font-size: 13px; 
	line-height: 2.5em;
	color: inherit;  
	text-align: justify;
} 

.a-custom{
	font-size: 10px;
}

h5{
	font-size: 15px;
}

a:hover{
	color: inherit;
	text-decoration: none;  
}

.fonttype-1{
	font-family: 'Slabo 27px', serif;
}

.fonttype-2{
	font-family: 'Roboto Slab', serif;
}


.fix-a{	
	text-decoration: none;
	cursor: pointer; 	
}


.ta-editor{
	padding: 10px; 
	background-color: white; 
}

.modal-body{
	color: black;
	z-index: 999990;
}

input{
	padding: 8px; 
	margin-bottom: 15px; 
}

label{
	color: inherit; 
}

.activeLabel {
	font-weight:  bold;
}


p .fit{
	text-align: 
}

/* SITE SPECIFIC */
body {
	color: white; 
   	background-color: black;
   	height: 100%;   
   	 	
	
}


.img-responsive-max{
  display: block;
  height: auto;
  width: 100%;
  margin-left: auto; 
  margin-right: auto
}

#headerMain{
	background-color: rgba(195, 151, 68, .9);
	color: white; 	
	width: 100%; 
	z-index: 990000;
	position: fixed; 
	border-bottom: 2px solid rgba(255, 255, 255, .4);	
	
}

#headerMain a{
	color: white; 
	transition: .5s;
}

#headerMain a:hover{
	color: rgba(); 
	transition: .5s;
}


#trueBottom{
	background-color: rgba(28, 47, 47, 1);
	color: white; 	
	width: 100%; 
	z-index: 990000;
	border-top: 2px solid rgba(255, 255, 255, .4);	
	
}

#trueBottom a{
	color: white; 
	transition: .5s;
}

#trueBottom a:hover{
	color: gold; 
	transition: .5s;
}

.stackImg{
	position: absolute; 
	left: 0; 
	top: 0; 
}

