.scroll-pattern-1 { 
	background: url(../media/images/homeBG.jpg);
	background-repeat: none;
	background-attachment:fixed;
	margin: 0 auto; 
    position: relative; 
}


.scroll-pattern-2 { 
	background: url(../media/images/clubInfoBG.jpg);
	background-repeat:repeat;
	background-attachment:fixed;
	height: auto;
	margin: 0 auto; 
    position: relative; 
}


.scroll-pattern-3 { 
	background: url(../media/images/serviceBG.jpg);
	background-repeat:repeat;
	background-attachment:fixed;
	height: auto;
	margin: 0 auto; 
    position: relative; 
}


.scroll-pattern-4 { 
	background: url(../media/images/applyBG.jpg);
	background-repeat:repeat;
	background-attachment:fixed;
	height: auto;
	margin: 0 auto; 
    position: relative; 
}


.scroll-pattern-5 { 
	background: url(../media/images/eventBG.jpg);
	background-repeat:repeat;
	background-attachment:fixed;
	height: auto;
	margin: 0 auto; 
    position: relative; 
}
