<div class="" ng-init="init()">


	
	
	<!-- Section -->
	<div>
		
		<div class='row'>
	
			<!-- GAP -->
			<div class='md-12' style='height: 100px'></div>
			<div class='md-12 show-for-small-only' style='height: 50px'></div>
			
			
			<!-- LOGO -->
			<div class='md-12' style='position: relative; z-index: 9999'>
				<centered>
				<img src='media/images/logoImage.png' style='margin-left: 0px; z-index: 9999'/>
				</centered>
			</div>
	
			<!-- FIRST BOX -->
			<div class='small-10 small-offset-1 medium-10 medium-offset-1 large-offset-0 large-12' style='z-index: 1000; color: black; background-color: rgba(255, 255, 255, .75); margin-top: -50px; border: 4px solid rgba(195, 151, 68, .8);'>
				
				
				
					<!-- gap -->
					<div class='medium-12' style='height: 50px'></div>
					<centered>
						<h2 class="largeFont" >{{languageObj.service_title}}</h2>
					</centered>
					<img src='media/images/fadeLine.png' style='height: 1px; width: 100%' />
					<br><br>
					
					<div class='small-3 pull-left'>
					<centered>
						<style>
							dd {
								background-color: none;
							}
						</style>
						<!-- gap -->
						<div class='medium-10 medium-offset-1' style='margin-top: 15px' >
							
							  <p class="small-12" style='text-align: right' ng-class='{true: "active activeLabel"}[tab1Active]'><a style='font-size: 13px; text-align: center' ng-click='activeTab(1)'><strong>{{languageObj.service_menu_tss}}</strong></a></p>
							    <p class="small-12 pull-right" style='margin-top: -20px; text-align: right' ng-class='{true: "active activeLabel"}[tab2Active]'><a style='font-size: 13px; text-align: center' ng-click='activeTab(2)'>{{languageObj.service_menu_aa}}</a></p>
							    <p class="small-12 pull-right" style='margin-top: -20px; text-align: right' ng-class='{true: "active activeLabel"}[tab3Active]'><a style='font-size: 13px; text-align: center' ng-click='activeTab(3)'>{{languageObj.service_menu_ca}}</a></p>
							    <p class="small-12 pull-right" style='margin-top: -20px; text-align: right' ng-class='{true: "active activeLabel"}[tab4Active]'><a style='font-size: 13px; text-align: center' ng-click='activeTab(4)'>{{languageObj.service_menu_sl}}</a></p>
							    <p class="small-12 pull-right" style='margin-top: -20px; text-align: right' ng-class='{true: "active activeLabel"}[tab5Active]'><a style='font-size: 13px; text-align: center' ng-click='activeTab(5)'>{{languageObj.service_menu_ps}}</a></p>
							    <p class="small-12 pull-right" style='margin-top: -20px; text-align: right' ng-class='{true: "active activeLabel"}[tab6Active]'><a style='font-size: 13px; text-align: center' ng-click='activeTab(6)'>{{languageObj.service_menu_us}}</a></p>  
							  <p class="small-12 pull-right" style='margin-top: -20px;text-align: right' ng-class='{true: "active activeLabel"}[tab7Active]'><a style='font-size: 13px; text-align: center' ng-click='activeTab(7)'><strong>{{languageObj.service_menu_ms}}</strong></a></p>	
                              
                              
                              <div ng-if='defaultSettings.language == "english"'>
                              	<p class="small-12 pull-right" style='margin-top: -20px;text-align: right'><a style='font-size: 13px; text-align: center; color: black' target="_blank" download href="http://www.theclubl.com/Brochure.pdf"><strong>{{languageObj.service_menu_db}}</strong></a></p>
                              </div>									    
                              <div ng-if='defaultSettings.language == "chinese"'>
                              	<p class="small-12 pull-right" style='margin-top: -20px;text-align: right'><a style='font-size: 13px; text-align: center; color: black' target="_blank" download href="http://www.theclubl.com/chineseBro.pdf"><strong>{{languageObj.service_menu_db}}</strong></a></p>
                              </div>
                              
                              
							
						</div>
	
					</centered>	
					</div>
				
				
					<div class='medium-9 pull-right' style='padding: 10px'>
						<!-- SECTION 1 -->
						<div ng-class='{false: "hidden"}[tab1Active]'>
							<div class='small-12'>
								<div class='medium-10 medium-offset-1'>
									<!--
									<p ng-bind-html="languageObj.service_content"></p>
									-->
									<h4 class='' style=''><strong>{{languageObj.service_menu_tss}}</strong></h4>
									<br>
									<div class='medium-6'></div>
									<p>
									{{languageObj.service_content_tss}}
									</p>
									
								</div>
								<br><br>
							</div>
							
							<div class='small-12'>
								<div class='medium-10 medium-offset-1'>
									<centered>
						
									</centered>
								</div>
								<br><br>
							</div>							
						</div>
						<!-- END SECTION 1 -->
						
						<!-- SECTION 2 -->
						<div ng-class='{false: "hidden"}[tab2Active]'>
							<div class='small-12'>
								<div class='medium-10 medium-offset-1'>
									<!--
									<p ng-bind-html="languageObj.service_content"></p>
									-->		
									<h4><strong>{{languageObj.service_menu_aa}}</strong></h4>
									<br>
									<p ng-bind-html="languageObj.service_content_aa"></p>
								</div>
								<br><br>
							</div>
						</div>
						<!-- END SECTION 2 -->
						
						<!-- SECTION 3 -->
						<div ng-class='{false: "hidden"}[tab3Active]'>
							<div class='small-12'>
								<div class='medium-10 medium-offset-1'>
									<!--
									<p ng-bind-html="languageObj.service_content"></p>
									-->	
									<h4><strong>{{languageObj.service_menu_ca}}</strong></h4>
									<br>																	
									<p ng-bind-html="languageObj.service_content_ca"></p>
								</div>
								<br><br>
							</div>
						</div>
						<!-- END SECTION 3 -->
						
						<!-- SECTION 4 -->
						<div ng-class='{false: "hidden"}[tab4Active]'>
							<div class='small-12'>
								<div class='medium-10 medium-offset-1'>
									<!--
									<p ng-bind-html="languageObj.service_content"></p>
									-->	
									<h4><strong>{{languageObj.service_menu_sl}}</strong></h4>
									<br>																	
									<p ng-bind-html="languageObj.service_content_sl"></p>
								</div>
								<br><br>
							</div>
						</div>
						<!-- END SECTION 4 -->
						
						
						<!-- SECTION 5 -->
						<div ng-class='{false: "hidden"}[tab5Active]'>
							<div class='small-12'>
								<div class='medium-10 medium-offset-1'>
									<!--
									<p ng-bind-html="languageObj.service_content"></p>
									-->		
									<h4><strong>{{languageObj.service_menu_ps}}</strong></h4>
									<br>	
									<p ng-bind-html="languageObj.service_content_ps"></p>																												
								</div>
								<br><br>
							</div>
						</div>
						<!-- END SECTION 5 -->
						
						<!-- SECTION 6 -->
						<div ng-class='{false: "hidden"}[tab6Active]'>
							<div class='small-12'>
								<div class='medium-10 medium-offset-1'>
									<!--
									<p ng-bind-html="languageObj.service_content"></p>
									-->	
									<h4><strong>{{languageObj.service_menu_us}}</strong></h4>
									<br>																	
									<p ng-bind-html="languageObj.service_content_us"></p>								
								</div>
								<br><br>
							</div>
						</div>
						<!-- END SECTION 6 -->	
						
						
						<!-- SECTION 7 -->
						<div ng-class='{false: "hidden"}[tab7Active]'>
							<div class='small-12'>
								<div class='medium-10 medium-offset-1'>
									<!--
									<p ng-bind-html="languageObj.service_content"></p>
									-->	
									<h4><strong>{{languageObj.service_menu_ms}}</strong></h4>
									<br>																	
									<div ng-include="languageObj.service_menu_ms == 'Membership & Services' ? 'fragments/table/membershipTable.html' : 'fragments/table/membershipTable_cn.html'"></div>																																				
								</div>
								<br><br>
							</div>
						</div>
						<!-- END SECTION 6 -->							
																																		
					</div>
					
					<img  style='height: 1px; width: 100%' />
				
				<!-- gap -->
				<div class='md-12' style='height: 100px'></div>
				
			</div>
			
			<!-- GAP -->
			<div class='md-12' style='height: 100px'></div>
			
			
			
			</div>
		</div>
		
		
		
	</div>	


	<!-- TRANSLATE -->
	<div ng-include  src="'fragments/parts/translationTab.html'"></div>
		
</div>	