<div class="" ng-init="init()">


	
	
	<!-- Section -->
	<div>
		
		<div class='row'>
	
			<!-- GAP -->
			<div class='md-12' style='height: 100px'></div>
			<div class='md-12 show-for-small-only' style='height: 50px'></div>
			
			
			<!-- LOGO -->
			<div class='md-12' style='position: relative; z-index: 9999'>
				<centered>
				<img src='media/images/logoImage.png' style='margin-left: 0px; z-index: 9999'/>
				</centered>
			</div>
	
			<!-- FIRST BOX -->
			<div class='small-10 small-offset-1 medium-10 medium-offset-1 large-offset-0 large-12' style='z-index: 1000; color: black; background-color: rgba(255, 255, 255, .75); margin-top: -50px; border: 4px solid rgba(195, 151, 68, .8);'>
				
				
				
					<!-- gap -->
					<div class='md-12' style='height: 50px'></div>
					
					<centered>
						<h2 class="largeFont" >{{languageObj.clubinfo_title}}</h2>
					</centered>
					<img src='media/images/fadeLine.png' style='height: 1px; width: 100%' />
					<br><br>
					<div class='medium-10 medium-offset-1' style='padding: 10px'>
					<!--
<p ng-bind-html="languageObj.homesection1_content"></p>
						<p ng-bind-html="languageObj.clubinfo_content"></p>
						-->
						<p ng-bind-html="languageObj.clubinfo_content"></p>
					</div>
				
				
				<!-- gap -->
				<div class='md-12' style='height: 100px'></div>
				
			</div>
			
			<!-- GAP -->
			<div class='md-12' style='height: 100px'></div>
			

			
			
		</div>
		
		
		
	</div>	



	<!-- TRANSLATE -->
	<div ng-include  src="'fragments/parts/translationTab.html'"></div>
		
</div>	

