<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0; width: 100%; background-color: inherit; }
.tg td{font-size:10px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-size:10px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-s6z2{text-align:center}
.tg .tg-bold{font-weight:bold}
</style>
<table class="tg">
  <tr>
  	 <th></th>
  	 <th class='tg-bold' colspan="2">Trial Membership</th>
  	 <th class='tg-bold' colspan="3">Membership</th>
  </tr>
  <tr>
    <th><strong></strong></th>
    <th class="tg-s6z2">Basic Membership</th>
    <th class="tg-s6z2">Exclusive Membership</th>
    <th class="tg-s6z2">Silver Membership</th>
    <th class="tg-s6z2">Gold Membership</th>
    <th class="tg-s6z2">The L Membership</th>
  </tr>
  <tr>
    <td class="tg-031e tg-bold">Professional Consultation</td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr>  
    <tr>
    <td class="tg-031e tg-bold">Club House Access</td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr> 
  <tr>
    <td class="tg-031e tg-bold">Personal Account On The Website</td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr>  
  <tr>
    <td class="tg-031e tg-bold">Networking Events</td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr>
  <tr>
    <td class="tg-031e tg-bold">Annual Meeting</td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr>
  <tr>
    <td class="tg-031e tg-bold">Providing Service in Winter/Summer Breaks</td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr>
  <tr>
    <td class="tg-e3zv tg-bold">Academic Aid</td>
    <td class="tg-s6z2"></td>
    <td class="tg-s6z2"></td>
    <td class="tg-s6z2"></td>
    <td class="tg-s6z2"></td>
    <td class="tg-s6z2"></td>
  </tr>
  <tr>
    <td class="tg-031e"><em>- Major Selection</em></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr>
  <tr>
    <td class="tg-031e"><em>- Class Selection and Registration</em></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr>
  <tr>
    <td class="tg-031e"><em>-- Oral English Practice</em></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr>
  <tr>
    <td class="tg-031e"><em>- Writing Help</em></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr>
  <tr>
    <td class="tg-031e"><em>- Tutoring</em></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr>
  <tr>
    <td class="tg-031e"><em>- Transferring and Graduate School Application</em></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr>
  <tr>
    <td class="tg-bold">Job Advisory</td>
    <td class="tg-s6z2"></td>
    <td class="tg-s6z2"></td>
    <td class="tg-s6z2"></td>
    <td class="tg-s6z2"></td>
    <td class="tg-s6z2"></td>
  </tr>
  <tr>
    <td class="tg-031e"><em>- Job Application Advisory</em></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr>  
  <tr>
    <td class="tg-031e"><em>- Ability Training</em></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr>
  <tr>
    <td class="tg-031e"><em>- Career Consulting</em></td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr>
  <tr>
    <td class="tg-bold">Social & Life</td>
    <td class="tg-s6z2"></td>
    <td class="tg-s6z2"></td>
    <td class="tg-s6z2"></td>
    <td class="tg-s6z2"></td>
    <td class="tg-s6z2"></td>
  </tr>
  <tr>
    <td class="tg-031e"><em>- Student Organization Recommendation</em></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr> 
  <tr>
    <td class="tg-031e"><em>- Festival Party</em></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr> 
  <tr>
    <td class="tg-031e"><em>- Members Afternoon Tea</em></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr> 
  <tr>
    <td class="tg-031e"><em>- Personalized Trip Planning</em></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr> 
  <tr>
    <td class="tg-031e"><em>- Private Shopping Events</em></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr> 
  <tr>
    <td class="tg-031e"><em>- Exotic Car Test Drive Events</em></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr>            
  <tr>
    <td class="tg-bold">Preferred Service</td>
    <td class="tg-s6z2"></td>
    <td class="tg-s6z2"></td>
    <td class="tg-s6z2"></td>
    <td class="tg-s6z2"></td>
    <td class="tg-s6z2"></td>
  </tr>
  <tr>
    <td class="tg-031e"><em>- Caring Service</em></td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr>  
  <tr>
    <td class="tg-031e"><em>- Family Care</em></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr>
  <tr>
    <td class="tg-031e"><em>- Legal Service</em></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr> 
  <tr>
    <td class="tg-bold">Ultimate Service</td>
    <td class="tg-s6z2"></td>
    <td class="tg-s6z2"></td>
    <td class="tg-s6z2"></td>
    <td class="tg-s6z2"></td>
    <td class="tg-s6z2"></td>
  </tr>
  <tr>
    <td class="tg-031e"><em>- Private Jet travel within United States</em></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
  </tr>  
  <tr>
    <td class="tg-031e"><em>- Private Island Vacation</em></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr>
  <tr>
    <td class="tg-031e"><em>- Super Car Driving Academy</em></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr>            
</table>

<div style='margin-top: -15px'>
	<div class='small-12'>
		<p style='font-size: 10px; line-height: 2.00em'>
			<i class="fa fa-circle"></i></small> Available, extra cost may apply under certain circumstances</small><br>
			<i class="fa fa-circle-o"></i></small> Available at extra cost</small><br>
			<i class="fa fa-minus-circle"></i></small> Unavailable</small><br>
		</p>	
	</div>
	
	
	
	
</div>
	