<div style='' class="" ng-init="init()">


	
	<!-- Section -->
	<div>
		
		<div class='row'>
	
			<!-- GAP -->
			<div class='md-12' style='height: 100px'></div>
			<div class='md-12 show-for-small-only' style='height: 50px'></div>
			
			
			<!-- LOGO -->
			<div class='medium-12' style='position: relative; z-index: 9999'>
				<centered>
				<img src='media/images/logoImage.png' style='margin-left: 0px; z-index: 9999'/>
				</centered>
			</div>
	
			<!-- FIRST BOX -->
			<div class='small-10 small-offset-1 medium-10 medium-offset-1 large-offset-0 large-12' style='z-index: 1000; color: black; background-color: rgba(255, 255, 255, .75); margin-top: -50px; border: 4px solid rgba(195, 151, 68, .8);'>
				
				
					<div style='width: 100%; height: 300px; position: relative' class='show-for-medium-up'>						
						<img id='topImg' class='stackImg'  ng-src='{{currentImage1}}'/>						
						<img id='btmImg' class='stackImg'  ng-src='{{currentImage2}}'/>		
					</div>
					
					<div class='show-for-small-only'>
						<br><br><br>
					</div>
					
					<!-- gap -->
					<div class='md-12' style='height: 20px'></div>
					
					<centered>
						<h2 class="largeFont" >{{languageObj.homesection1_title}}</h2>
					</centered>
					<img src='media/images/fadeLine.png' style='height: 1px; width: 100%' />
					<br><br>
					<div class='medium-10 medium-offset-1' style='padding: 10px; '>
						<!--
						<p ng-bind-html="languageObj.homesection1_content"></p>
						-->
						<p style='text-indent: 50px'>
						The Club L is a private club that is uniquely designed for international students. Our previous research and studies show that international students who are successful at achieving their goals like get into the schools they desire or land on an internship or job at their dream companies, etc. are not only strong academically but also good at establishing connections with the people who can help them to achieve their goals. Our survey shows that all the students know they need to have an outstanding academic standing in order to have a bright and successful future. On the topic of being social and having the right connections and resources is where the students get confused and their answers show that the majority of them don’t know how or where to find the right connections/resources in order to help them and some of them don’t even realize networking with the right people is important													
						</p>
						
						<p style='text-indent: 50px'>
						In today’s society, being social and connected with resourceful people is extremely crucial especially in the country where students don’t have parents and relatives by their side. Based on our experience with international students, usually their family members have various connections in the countries where they are from, meaning that these parents can help their children by using their connections to get internships, jobs for their children or get into the schools their children desire and so on. However, when these children come to the U.S to study, they often forget that they are now in a country where their family members are out of reach and by the time they realized it, it’s already too late to find the right connections to help them. In contrast, for the students whose parents have connections in the States, they usually get internships and jobs or get into the schools they want in the United States. One thing to point out, the international students that fight their way into the schools they want, get internships and jobs from the companies they desire or start up their own business in the States, they are not only fighting with other international students but with American students who also have good grades and most importantly the connections from their family members. 												
						</p>
							
						<p style='text-indent: 50px'>						
						Therefore, The Club L formed and aims to help international students be successful in the U.S. Currently, The Club L provides five categories of individualized services to its members, which are academic aid, career advisory, social & life, preferred service and ultimate service. Furthermore, each of the services will be tailored for each member and even go beyond the five categories in order to perfectly fit members’ different needs, interests, personalities, goals and so on. Above all that, The Club L provides a prestigious and exclusive networking platform for members to interact with each other and socialize with many resourceful people who are from the top 50 universities, fortune 500 companies, individuals who own successful businesses and with people like realtors, lawyers etc. in order to solve members’ problems, achieve members’ personal goals and maximize members’ overall experience in the United States.
						</p>
					</div>
				
				
				<!-- gap -->
				<div class='md-12' style='height: 100px'></div>
				
			</div>
			
			<!-- GAP -->
			<div class='md-12' style='height: 100px'></div>
			

			
			
		</div>
		
		
		
	</div>	


	<!-- TRANSLATE -->
	<div ng-include  src="'fragments/parts/translationTab.html'"></div>

			
</div>	
