<div class="" ng-init="init()">


	
	
	<!-- Section -->
	<div>
		
		<div class='row'>
	
			<!-- GAP -->
			<div class='md-12' style='height: 100px'></div>
			<div class='md-12 show-for-small-only' style='height: 50px'></div>
			
			
			<!-- LOGO -->
			<div class='md-12' style='position: relative; z-index: 9999'>
				<centered>
				<img src='media/images/logoImage.png' style='margin-left: 0px; z-index: 9999'/>
				</centered>
			</div>
	
			<!-- FIRST BOX -->
			<div class='small-10 small-offset-1 medium-10 medium-offset-1 large-offset-0 large-12' style='z-index: 1000; color: black; background-color: rgba(255, 255, 255, .75); margin-top: -50px; border: 4px solid rgba(195, 151, 68, .8);'>
				
				
				
					<!-- gap -->
					<div class='medium-12' style='height: 50px'></div>
					<centered>
						<h2 class="largeFont" >{{languageObj.service_title}}</h2>
					</centered>
					<img src='media/images/fadeLine.png' style='height: 1px; width: 100%' />
					<br><br>
					
					<div class='small-3 pull-left'>
					<centered>
						<style>
							dd {
								background-color: none;
							}
						</style>
						<!-- gap -->
						<div class='medium-10 medium-offset-1' style='margin-top: 15px' >
							
							  <p class="small-12" style='text-align: right' ng-class='{true: "active activeLabel"}[tab1Active]'><a style='font-size: 13px; text-align: center' ng-click='activeTab(1)'><strong>The L Signature Service</strong></a></p>
							    <p class="small-12 pull-right" style='margin-top: -20px; text-align: right' ng-class='{true: "active activeLabel"}[tab2Active]'><a style='font-size: 13px; text-align: center' ng-click='activeTab(2)'>Academic Aid</a></p>
							    <p class="small-12 pull-right" style='margin-top: -20px; text-align: right' ng-class='{true: "active activeLabel"}[tab3Active]'><a style='font-size: 13px; text-align: center' ng-click='activeTab(3)'>Career Advisory</a></p>
							    <p class="small-12 pull-right" style='margin-top: -20px; text-align: right' ng-class='{true: "active activeLabel"}[tab4Active]'><a style='font-size: 13px; text-align: center' ng-click='activeTab(4)'>Social & Life</a></p>
							    <p class="small-12 pull-right" style='margin-top: -20px; text-align: right' ng-class='{true: "active activeLabel"}[tab5Active]'><a style='font-size: 13px; text-align: center' ng-click='activeTab(5)'>Preferred Service</a></p>
							    <p class="small-12 pull-right" style='margin-top: -20px; text-align: right' ng-class='{true: "active activeLabel"}[tab6Active]'><a style='font-size: 13px; text-align: center' ng-click='activeTab(6)'>Ultimate Service</a></p>  
							  <p class="small-12 pull-right" style='margin-top: -20px;text-align: right' ng-class='{true: "active activeLabel"}[tab7Active]'><a style='font-size: 13px; text-align: center' ng-click='activeTab(7)'><strong>Membership & Services</strong></a></p>	
                              <p class="small-12 pull-right" style='margin-top: -20px;text-align: right'><a style='font-size: 13px; text-align: center; color: black' target="_blank" download href="http://www.theclubl.com/Brochure.pdf"><strong>Download Brochure</strong></a></p>
                            													    
							
						</div>
	
					</centered>	
					</div>
				
				
					<div class='medium-9 pull-right' style='padding: 10px'>
						<!-- SECTION 1 -->
						<div ng-class='{false: "hidden"}[tab1Active]'>
							<div class='small-12'>
								<div class='medium-10 medium-offset-1'>
									<!--
									<p ng-bind-html="languageObj.service_content"></p>
									-->
									<h4 class='' style=''><strong>The L Signature Service</strong></h4>
									<br>
									<div class='medium-6'></div>
									<p>
									The Club L provides different categories of individualized services to international students based on its ever-growing intensive connections and networks in the United States and around the globe. More specifically, the categories of services The Club L is providing are academic aid, career advisory, social & life, preferred service and ultimate service. Furthermore, all the services will be tailored for each member and even go beyond the five categories in order to perfectly fit members’ different needs, interests, personalities, goals and so on. Above all that, The Club L provides a prestigious and exclusive networking platform for members to interact with each other and socialize with many resourceful people who are from the top 50 universities, fortune 500 companies, individuals who own successful businesses and with people like realtors, lawyers etc. in order to solve members’ problems, achieve members’ personal goals and maximize members’ overall experience in the United States.	
									</p>
									
								</div>
								<br><br>
							</div>
							
							<div class='small-12'>
								<div class='medium-10 medium-offset-1'>
									<centered>
						
									</centered>
								</div>
								<br><br>
							</div>							
						</div>
						<!-- END SECTION 1 -->
						
						<!-- SECTION 2 -->
						<div ng-class='{false: "hidden"}[tab2Active]'>
							<div class='small-12'>
								<div class='medium-10 medium-offset-1'>
									<!--
									<p ng-bind-html="languageObj.service_content"></p>
									-->		
									<h4><strong>Academic Aid</strong></h4>
									<br>																
									<li><p>
										<strong>Major Selection:</strong>  Help ease the dilemma of choosing the most fitting major and the subsequent choice of career. Experts of related field will 
										meet members face-to-face, or via Internet to provide realistic first-hand information on the members’ current chosen major or desired major. 
										Members will be able to understand the employment prospect and detailed work functions related to the major and thus are more capable of choosing the most suitable major.	
									</p></li>
									<li><p>
										<strong>Class Selection and Registration:</strong>  Successful (GPA 3.5+) senior or junior students from the members’ college provide a detailed description 
										and recommendation on what courses to choose, in what order, and with which professors to take.	
									</p></li>							
									<li><p>
										<strong>Oral English Practice:</strong>  American English speakers help members
										practice oral English in daily activities. Through such activities, international
										students can also observe and be part of the American culture and
										lifestyle.	
									</p></li>		
									<li><p>
										<strong>Writing Help:</strong>  Experienced personnel in business & technical writing
										will point out and help members correct the mistakes/awkward phrases
										in members’ essay/paper. Through this writing activity, members will be
										able to improve their long-term writing skills.	
									</p></li>								
									<li><p>
										<strong>Tutoring:</strong>  Teaching Assistants or Lecture instructors from member’s
										college provide online/offline one-on-one help on related course subjects.
									</p></li>	
									<li><p>
										<strong>Transferring and Graduate school Application:</strong>  Based on the needs of
										community college/university members, we provide application material
										gathering, selecting, preparing and submitting service:
										
										<ul style='padding-left: 20px ;'><p><small><i class="fa fa-circle-o"></i></small>&nbsp;&nbsp; Includes early preparations (volunteering work, leadership programs,
										etc.) to improve members’ core competitiveness.</ul></p>
										<ul style='padding-left: 20px ;'><p><small><i class="fa fa-circle-o"></i></small>&nbsp;&nbsp; Experts from U.S. education committee and U.S. top school admission
										committees help members select and prepare their materials
										according to the specific characteristics of the desired schools.</li></p>
																											
									</p></li>			
								</div>
								<br><br>
							</div>
						</div>
						<!-- END SECTION 2 -->
						
						<!-- SECTION 3 -->
						<div ng-class='{false: "hidden"}[tab3Active]'>
							<div class='small-12'>
								<div class='medium-10 medium-offset-1'>
									<!--
									<p ng-bind-html="languageObj.service_content"></p>
									-->	
									<h4><strong>Class Selection and Registration</strong></h4>
									<br>																	
									<li><p>
										<strong>Job Application Advisory:</strong>  
										Experts from successful businesses are available to provide
										members with resume critique/material writing service and internship
										introduction/meetings with recruiters. After members are accepted,
										these experts are also able to provide interviewing training and mock interviews.	
									</li></p>
									<li><p>
										<strong>Ability Training:</strong>  
										Training program of confidence and leadership. Also
										includes student senate or government election advisory.										
									</p>								
									<li><p>
										<strong>Career Consulting:</strong> 
										Professors from top schools and with successful
										business figures with Wall St. background can meet our members during
										our scheduled conference to talk about investment and start-up businesses.
										CEO/senior management from fortune 500 companies will provide
										members with first-hand information regarding working in specific
										industries, analyze the pros and cons of working in each industry, and
										share their job-hunting experience when they were in college.										
									</li></p>													
								</div>
								<br><br>
							</div>
						</div>
						<!-- END SECTION 3 -->
						
						<!-- SECTION 4 -->
						<div ng-class='{false: "hidden"}[tab4Active]'>
							<div class='small-12'>
								<div class='medium-10 medium-offset-1'>
									<!--
									<p ng-bind-html="languageObj.service_content"></p>
									-->	
									<h4><strong>Social & Life</strong></h4>
									<br>																	
									<li><p>
										<strong>Student Organization Recommendation:</strong>    
										Recommend student organizations
										in members’ college according to the matching of their interests
										and help them participate in the elections of leadership positions in
										respective organizations.
									</li></p>
									<li><p>
										<strong>Festival Party:  </strong>  
										Hold exclusive festival parties at members’ school. We
										will invite famous alumni, school management personnel, and professors
										in member’s school to give members a chance to build connections.										
									</li></p>							
									<li><p>
										<strong>Members Afternoon Tea: </strong> 
										Hold Afternoon Tea events at members’ respective
										campus to give members a chance to communicate and share
										experience.									
									</li></p>
									<li><p>
										<strong>Personalized Trip Planning</strong>
									</li></p>
									<li><p>
										<strong>Private Shopping Events</strong>
									</li></p>								
									<li><p>
										<strong>Exotic Car Test Drive Events</strong>
									</li></p>																					
								</div>
								<br><br>
							</div>
						</div>
						<!-- END SECTION 4 -->
						
						
						<!-- SECTION 5 -->
						<div ng-class='{false: "hidden"}[tab5Active]'>
							<div class='small-12'>
								<div class='medium-10 medium-offset-1'>
									<!--
									<p ng-bind-html="languageObj.service_content"></p>
									-->		
									<h4><strong>Preferred Service</strong></h4>
									<br>	
									<ul>	
																								
									<li><p>
										<strong>Caring Service:</strong>    
										Airport pick up service for members, and provide them
										with cellphones that can make international calls to their parents. Current
										students at the members’ school will introduce the school and give tours
										to the surrounding areas to members (campus, International restaurants/
										markets, and traffic routes). They will also provide members with housing
										and apartment information, as well as information on the procedure of
										renting an apartment. When members need to move to a different location,
										we will provide them with moving plans and recommend the best
										moving service at the best rate through the club’s existing partnerships.
										We can also arrange qualified and professional driving instructors to aid
										members in getting their driver’s license safely. When members are being
										hospitalized, we will go to the hospital to visit. And many other related
										services.
									</p></li>
									<li><p>
										<strong>Family Care:</strong>    
										Arrange flights/pick up for the member’s parents who wish
										to visit their children and arrange activities for parents to enjoy during
										their trip.
									</p></li>
									<li><p>
										<strong>Legal Service:</strong>    
										Consulting for civil law disputes, and lawsuit service, specifically;
										immigration law consulting and immigration service. Experts
										and lawyers will provide international students with a detailed explanation
										to members regarding their rights and duties as international students
										in United States. If members get into disputes or detention, The
										Club L will bring lawyers to help solve the problems at the earliest possible
										time.
									</p></li>	
									</ul>																														
								</div>
								<br><br>
							</div>
						</div>
						<!-- END SECTION 5 -->
						
						<!-- SECTION 6 -->
						<div ng-class='{false: "hidden"}[tab6Active]'>
							<div class='small-12'>
								<div class='medium-10 medium-offset-1'>
									<!--
									<p ng-bind-html="languageObj.service_content"></p>
									-->	
									<h4><strong>Ultimate Service</strong></h4>
									<br>																	
									<li><p>
										<strong>Private Jet travel within United States</strong>    
									</li></p>
									<li><p>
										<strong>Private Island Vacation</strong>    
									</p>
									<li><p>
										<strong>Super Car Driving Academy</strong>    
									</li></p>																																						
								</div>
								<br><br>
							</div>
						</div>
						<!-- END SECTION 6 -->	
						
						
						<!-- SECTION 7 -->
						<div ng-class='{false: "hidden"}[tab7Active]'>
							<div class='small-12'>
								<div class='medium-10 medium-offset-1'>
									<!--
									<p ng-bind-html="languageObj.service_content"></p>
									-->	
									<h4><strong>Membership & Services</strong></h4>
									<br>																	
									<div ng-include  src="'fragments/table/membershipTable.html'"></div>																																				
								</div>
								<br><br>
							</div>
						</div>
						<!-- END SECTION 6 -->							
																																		
					</div>
					
					<img  style='height: 1px; width: 100%' />
				
				<!-- gap -->
				<div class='md-12' style='height: 100px'></div>
				
			</div>
			
			<!-- GAP -->
			<div class='md-12' style='height: 100px'></div>
			
			
			
			</div>
		</div>
		
		
		
	</div>	


	<!-- TRANSLATE -->
	<div ng-include  src="'fragments/parts/translationTab.html'"></div>
		
</div>	