<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0; width: 100%; background-color: inherit; }
.tg td{font-size:10px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-size:10px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;width: 120px;line-height: 1.4em;vertical-align: middle;}
.tg .tg-s6z2{text-align:center}
.tg .tg-bold{font-weight:bold}
.tg em,i{font-style: normal;}
</style>
<table class="tg">
  <tr>
     <th></th>
     <th class='tg-bold' colspan="2">体验会员</th>
     <th class='tg-bold' colspan="3">会员</th>
  </tr>
  <tr>
    <th><strong></strong></th>
    <th class="tg-s6z2">基础会员 <br />
    $1,080/学季 <br /> 
    $1,620/学期</th>
    <th class="tg-s6z2">专属会员 <br /> 
    $2,880/学季 <br />
    $4,320/学期</th>
    <th class="tg-s6z2">银卡会员</th>
    <th class="tg-s6z2">金卡会员</th>
    <th class="tg-s6z2">The L 会员</th>
  </tr>
  <tr>
    <td class="tg-031e tg-bold">专业咨询服务</td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr>  
    <tr>
    <td class="tg-031e tg-bold">会所使用权</td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr> 
  <tr>
    <td class="tg-031e tg-bold">线上私人账户</td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr>  
  <tr>
    <td class="tg-031e tg-bold">社交活动</td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr>
  <tr>
    <td class="tg-031e tg-bold">年会</td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr>
  <tr>
    <td class="tg-031e tg-bold">寒暑假服务</td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr>
  <tr>
    <td class="tg-e3zv tg-bold">学业指导</td>
    <td class="tg-s6z2"></td>
    <td class="tg-s6z2"></td>
    <td class="tg-s6z2"></td>
    <td class="tg-s6z2"></td>
    <td class="tg-s6z2"></td>
  </tr>
  <tr>
    <td class="tg-031e"><em>- 专业选择</em></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr>
  <tr>
    <td class="tg-031e"><em>- 选课指南</em></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr>
  <tr>
    <td class="tg-031e"><em>- 口语练习</em></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr>
  <tr>
    <td class="tg-031e"><em>- 写作辅导</em></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr>
  <tr>
    <td class="tg-031e"><em>- 课程辅导</em></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr>
  <tr>
    <td class="tg-031e"><em>- 转学&amp;升学服务</em></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr>
  <tr>
    <td class="tg-bold">职业规划</td>
    <td class="tg-s6z2"></td>
    <td class="tg-s6z2"></td>
    <td class="tg-s6z2"></td>
    <td class="tg-s6z2"></td>
    <td class="tg-s6z2"></td>
  </tr>
  <tr>
    <td class="tg-031e"><em>- 求职辅导</em></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr>  
  <tr>
    <td class="tg-031e"><em>- 能力训练</em></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr>
  <tr>
    <td class="tg-031e"><em>- 事业咨询</em></td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr>
  <tr>
    <td class="tg-bold">生活社交</td>
    <td class="tg-s6z2"></td>
    <td class="tg-s6z2"></td>
    <td class="tg-s6z2"></td>
    <td class="tg-s6z2"></td>
    <td class="tg-s6z2"></td>
  </tr>
  <tr>
    <td class="tg-031e"><em>- 社团推荐</em></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr> 
  <tr>
    <td class="tg-031e"><em>- 节日联谊</em></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr> 
  <tr>
    <td class="tg-031e"><em>- 会员下午茶</em></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr> 
  <tr>
    <td class="tg-031e"><em>- 个性化旅行规划</em></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr> 
  <tr>
    <td class="tg-031e"><em>- 品牌专场购物</em></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr> 
  <tr>
    <td class="tg-031e"><em>- 驾驶体验、训练营</em></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr>            
  <tr>
    <td class="tg-bold">尊享礼遇</td>
    <td class="tg-s6z2"></td>
    <td class="tg-s6z2"></td>
    <td class="tg-s6z2"></td>
    <td class="tg-s6z2"></td>
    <td class="tg-s6z2"></td>
  </tr>
  <tr>
    <td class="tg-031e"><em>- 会员关怀</em></td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr>  
  <tr>
    <td class="tg-031e"><em>- 亲情服务</em></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr>
  <tr>
    <td class="tg-031e"><em>- 法律援助</em></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr> 
  <tr>
    <td class="tg-bold">至尊服务</td>
    <td class="tg-s6z2"></td>
    <td class="tg-s6z2"></td>
    <td class="tg-s6z2"></td>
    <td class="tg-s6z2"></td>
    <td class="tg-s6z2"></td>
  </tr>
  <tr>
    <td class="tg-031e"><em>- 美国境内私人飞机试用权</em></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr>  
  <tr>
    <td class="tg-031e"><em>- 私人岛度假</em></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
  </tr>
  <tr>
    <td class="tg-031e"><em>- 超跑试驾体验会</em></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-minus-circle"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle-o"></i></td>
    <td class="tg-s6z2"><i class="fa fa-circle"></i></td>
  </tr>            
</table>

<div style='margin-top: -15px'>
  <div class='small-12'>
    <p style='font-size: 10px; line-height: 2.00em'>
      <i class="fa fa-circle"></i></small> 包括在会费内，某些特殊情况下需要支付额外费用。</small><br>
      <i class="fa fa-circle-o"></i></small> 不包括在会费内，需要另行支付。</small><br>
      <i class="fa fa-minus-circle"></i></small> 此项服务不提供。</small><br>
    </p>  
  </div>
  
  
  
  
</div>
  