<div class="" ng-init="init()">


	
	
	<!-- Section -->
	<div class="scroll-pattern-1" style='auto' data-speed="5" data-offset="0" data-type="background">
		
		<div class='row'>
	
			<!-- GAP -->
			<div class='md-12' style='height: 100px'></div>
			
			
			<!-- LOGO -->
			<div class='md-12' style='position: relative; z-index: 9999'>
				<centered>
				<img src='media/images/logoImage.png' style='margin-left: 0px; z-index: 9999'/>
				</centered>
			</div>
	
			<!-- FIRST BOX -->
			<div class='md-12' style='z-index: 1000; color: black; background-color: rgba(255, 255, 255, .75); margin-top: -50px; border: 4px solid  rgba(171, 147, 59, .8)'>
				
				<centered>
					<!-- gap -->
					<div class='md-12' style='height: 50px'></div>
					
					
					<h2 class="largeFont" >{{languageObj.contactus_title}}</h2>
					<img src='media/images/fadeLine.png' style='height: 1px; width: 100%' />
					<br><br>
					<div class='medium-10 medium-offset-1'>
						<p ng-bind-html="languageObj.contactus_content"></p>
					</div>
				</centered>
				
				<!-- gap -->
				<div class='md-12' style='height: 100px'></div>
				
			</div>
			
			<!-- GAP -->
			<div class='md-12' style='height: 100px'></div>
			

			
			
		</div>
		
		
		
	</div>	


	<!-- TRANSLATE -->
	<div ng-include  src="'fragments/parts/translationTab.html'"></div>
	
</div>	