
<div class=""  >

	
	<div id="trueBottom" class="flat-secondary">
		<centered>
			<div class='row'>

				
				<div class='small-6 small-offset-3 columns' style='text-align: left; font-size: .85em; line-height: 150% '>
						<centered>
						<br>
						<h4>{{languageObj.footersection2}}</h4>
						
						<img src='media/images/fadeLine_white.png' class='img-responsive' style='height: 1px' />
						<br>

						
						<h5>PHONE: 011-(872)228-7860</h5>
						<h5>QQ: 2108699450 </h5> 
						<h5>EMAIL: <a href="mailto:support@TheClubL.com?subject=requestInfo">support@TheClubL.com</a></h5>
						
						<!--
						<a>{{languageObj.phonenumber}}</a><br>
						<a>{{languageObj.email}}</a>
						-->
						</centered>
						
					
				
					
				</div>								

			</div>			
			<br><br>	
		
		</centered>
	</div>

</div>
			
