<div class="" ng-init="init()">


	
	
	<!-- Section -->
	<div>
		
		<div class='row'>
	
			<!-- GAP -->
			<div class='md-12' style='height: 100px'></div>
			<div class='md-12 show-for-small-only' style='height: 50px'></div>
			
			
			<!-- LOGO -->
			<div class='md-12' style='position: relative; z-index: 9999'>
				<centered>
				<img src='media/images/logoImage.png' style='margin-left: 0px; z-index: 9999'/>
				</centered>
			</div>
	
			<!-- FIRST BOX -->
			<div class='small-10 small-offset-1 medium-10 medium-offset-1 large-offset-0 large-12' style='z-index: 1000; color: black; background-color: rgba(255, 255, 255, .75); margin-top: -50px; border: 4px solid rgba(195, 151, 68, .8);'>
				
				
				
					<!-- gap -->
					<div class='md-12' style='height: 50px'></div>
					
					<centered>
						<h2 class="largeFont" >{{languageObj.clubinfo_title}}</h2>
					</centered>
					<img src='media/images/fadeLine.png' style='height: 1px; width: 100%' />
					<br><br>
					<div class='medium-10 medium-offset-1' style='padding: 10px'>
						<!--
						<p ng-bind-html="languageObj.clubinfo_content"></p>
						-->
						
						<p style='text-indent: 50px;'>
						The Club L International, LLC is registered in the state of Washington
						and is a legally authorized private club for international students.
						The Club L’s Motto: “Provide unparalleled service to our members
						with the utmost sincerity.” Based on years of research and study, The Club
						L has developed a deep understanding for the needs of the International
						student. We have developed our international service platform based
						upon our superiority in location, connections, and knowledge, which we
						then utilize in a way that caters to our members’ needs. Our service packages
						can include: academic help, career advisory, social & life, preferred
						and ultimate service. The Club L uses the platform of an international
						private club in order to dedicate us to providing unique and personalized
						services to our clients to help them better succeed in academia, career
						placement, and personal networking.
						</p>
						<p style='text-indent: 50px;'>
						The founders of The Club L are a group of creative, adventurous,
						and hardworking young adults who graduated from the top universities
						of United States with Bachelor’s or Master’s degrees. Among our diversified
						founders, some have already set up their own companies in China/
						United States, some have grown up in the United States, and some have
						had a successful career in their chosen field thus far. The Club L’s spirit
						and core competitiveness have attracted many experts from both the fields
						of education and business to join us. They work to offer devoted services
						to our members and provide valuable connections to our customers that
						can eventually lead to the success of The Club L members.							
						</p>
						
					</div>
				
				
				<!-- gap -->
				<div class='md-12' style='height: 100px'></div>
				
			</div>
			
			<!-- GAP -->
			<div class='md-12' style='height: 100px'></div>
			

			
			
		</div>
		
		
		
	</div>	



	<!-- TRANSLATE -->
	<div ng-include  src="'fragments/parts/translationTab.html'"></div>
		
</div>	

